Checks: "bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  hicpp-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  google-*,
  clang-analyzer-*,
  "
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
